<img style="float: left;" src="https://drive.google.com/uc?export=view&id=13_P0Dq9rb1aXFFVfspMRn5hlP7t8RuwC" width="200" height="100">


![Colored Bar](https://drive.google.com/uc?export=view&id=1WL0ur5SQc5ijCvXc6MvWUeoWOIVS_rQ9)



# Data Science Toolkit - Intro to Python

Welcome to the Data Science Toolkit workshop! Today, we will learn the fundamentals of programming for data science in Python, including:


1.   Variables and Data Types
2.   Importing Tabular Data
3.   Plotting
4.   Functions and Loops

## Variables and Data Types

Variables are used to store information in Python using the assignment operator `=` . They can take on numerical values, or text values, or some combination. Python is case sensitive, and you should get in the habit of giving meaningful names to your variables. 

The following tasks are modeled after the Software Carpentries (http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html)

### **TASK**: Create some variables

### **TASK**: Use `print` to display values

### Variables must be created before they are used


*   If a variable doesnâ€™t exist yet, or if the name has been mis-spelled, Python reports an error.
*   It can be helpful to use the `Runtime` -> `Restart & Run All` option to clear out your variables and re-run cells from the top of the notebook.
*   A variable inspector is a handy way to monitor variable assigments.

### **TASK**: Use your variables and Python operators (`+, -, *, /, ^`) in calculations

### **TASK**: Use the built-in `type()` function to determine the type of data contained within a variable

### **TASK**: Use the built-in `len()` function to determine the length of a string. 


*   **NOTE**: Python uses zero indexing so the first element in a string takes on an index of zero (0).

### **TASK**: Use a slice to get a substring

## Importing Tabular data

* Download temperature data from the [NOAA Climate data website](https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/)

* Use the `pandas` library to work with tabular data in Python (be careful to skip the 'header' rows and assign missing values when appropriate)
* NOTE: This lesson is modeled after the Sofware Carpentries (http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html)

### **TASK**: Use `pd.read_csv()` to open a comma separated value (.csv) file. Use the built-in `.head()` function to display the first 5 rows of your data.

In [ ]:
import pandas as pd

In [ ]:
# Define the temperature data url
chicago_tmax_url = (
    "https://www.ncei.noaa.gov/cag/city/time-series/"
    "USW00094846-tmax-all-7-1958-2022.csv"
    "?base_prd=true&begbaseyear=1958&endbaseyear=2000")

# Import data using pandas
chicago_tmax_df = pd.read_csv(
    chicago_tmax_url,
    skiprows=4,
    na_values=-99,
    index_col='Date')
chicago_tmax_df

        Value  Anomaly
Date
195811   49.9      2.3
195812   28.5     -6.0
195901   25.6     -3.7
195902   32.4     -1.9
195903   44.7     -0.8
...       ...      ...
202203   49.1      3.6
202204   55.1     -3.3
202205   72.2      2.0
202206   82.6      3.0
202207   83.5     -0.2

[765 rows x 2 columns]

### **TASK**: Convert the Date column to DateTime (parse)

## Plotting

Finally, you can plot the data using `.plot()`

**NOTE**: This lesson is modeled after a lesson from our Earth Data Science textbook (https://www.earthdatascience.org/courses/scientists-guide-to-plotting-data-in-python/plot-activities/plot-tabular-pandas-data-python/)

### **TASK**: Plot your temperature data using `.plot()`

## Functions and Loops

Programming is especially useful when you need to perform the same task or similar tasks over and over. For example - suppose we want to to convert the temperatures in our DataFrame from Fahrenheit to Celcius?

### TASK: Convert a single temperature from Fahrenheit to Celcius

### TASK: Write a function to convert the temperature, then test it by converting a single temperature

### TASK: Make a copy of one year of your data

### TASK: Using a for loop, print each of the Fahrenheit temperatures in your DataFrame

### TASK: Convert each Fahrenheit temperature to Celcius and print that instead

### TASK: Store the Celcius temperatures in a list

### TASK: Compute a list of all the temperatures in your DataFrame in Celcius. Then, add them to your DataFrame as a new column.

**HINT - use the one-year test DataFrame to try out your method before applying it to the whole DataFrame**

### TASK: Plot the temperature in Celcius over time